@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@1,700&display=swap');
.header {
    background: transparent;
    padding: 20px;
    font-family: Rochester, serif;
    color: red;
    font-size: 55px;
    text-align: right;
  } 
nav {
    overflow: hidden;
    background-color: rgba(65, 13, 88, 0.7);
  }
a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Marvel, serif;
  }
a:hover {
    background-color: #ddd;
    color: black;
  }
