#row {
    column-count: 2;

}

div.scroll {
    height: 600px;
    width: 1300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    padding: 20px;
    margin: auto;
} 
.column {
  float: right;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}