.portfolio-button{
    position: absolute;
    right: 150px;
  }

a.portfolio-button{
    margin: auto;
    display: block;
}

a.portfolio-button:hover {
    background-image: url("https://i.imgur.com/S8uTPW6.png");
    color: black;
  }
