form {
    color: white;
    text-align: center;
    width: 250px;
    height: 500px;
    padding: 10px;
    border: 15px solid #660066; 
}
#form-title {
    color: red;
    font-family: Rochester;
    font-size: 30px;
}