#social-icons li img{
    display: inline;
   
    padding: 10px;
}

ul{
    list-style-type: none;
    position: center;
}

#icon:hover {
    box-shadow: 0 0 2px 1px rgb(86, 235, 255);
  }

.icons-container{
    position: center;
    height: 350px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

