@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


#my-name {
  position: absolute;
  right: 5px;
  top: 5px;
}
#me-in-munich {
    width: 400px;
    border: 15px solid  #191966;
    margin-left: 100px;
    margin-top: 0;
    transform: rotate(10deg);
  }
h2 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 50px;
    margin-top: 30px;
  }
#my-paragraph {
    padding: 70px;
    margin-left: 70px;
    margin-top: 100px;
    width: 105%;
    transform: rotate(-10deg);
    font-size:20px;
    font-family: Caveat, serif;
    background-image: url('https://i.imgur.com/k9SbjR2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid;
  }

#quotes-heading{
    font-family: 'Dancing Script', 'cursive';
    text-align: center;
}

#quotes-container{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    width: 80%;
    border-radius: 50px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}

.portfolio-button{
  position: absolute;
  right: 150px;
}
a.portfolio-button

.card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  color: black;
  text-align: center;
  margin: 10px;
  padding: 8px 10px 0px 10px;
  margin-top: 30px;
}

.card:hover {
  box-shadow: 2px 3px 5px rgb(34, 207, 230);
  transition: all 0.2s ease-out;
  top: -4px;
}

.card-link {
  color: blue;
  text-decoration: underline;
  padding-bottom: 5px;
}

.card-title {
  font-size: 1.7rem;
}

.projects-container {
  overflow-x: scroll;
  margin: auto;
  margin-top: 30px;
  width: 1000px;
  height: 450px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(65, 13, 88, 0.7);
  border-radius: 10px;
}
